<section data-menu-title="The Fires of Functional Programming">
    <section id="fires-of-functional-programming" data-background-image="img/fires.jpg" data-menu-title="The Fires of Functional Programming">
        <h2><span class="fancy">The</span> Fir<span class="es">ES</span> <span class="fancy"><span>o</span><span>f</span></span> Functional Programming</h2>
    </section>
    <section id="three-tees-of-fp">
        <h2>The 3 "T"s of Functional Programming (3TFP)</h2>
    </section>
</section>
