<section>
    <section id="overview" data-background-image="img/overview.png" data-background-size="cover" data-menu-title="Overview">
        <h2>Overview</h2>
    </section>
    <section id="four-labyrinths">
        <h2><span class="fancy">The</span> Four Labyrinths</h2>
            <div class="fragment fade-up">
                <p style="text-align:left;"><span class="fancy">the</span> Fires <span class="fancy">of</span> Functional Programming</p>
                <blockquote>
                    composability — immutability — purity
                </blockquote>
            </div>
            <div class="fragment fade-up">
                <p style="text-align:left;"><span class="fancy">the</span> Trials <span class="fancy">of</span> Tooling</p>
                <blockquote>
                    analysis — transpilation — optimization
                </blockquote>
            </div>
            <div class="fragment fade-up">
                <p style="text-align:left;"><span class="fancy">the</span> Obstacles <span class="fancy">of</span> Organization</p>
                <blockquote>
                    modules — management — architecture
                </blockquote>
            </div>
            <div class="fragment fade-up">
                <p style="text-align:left;"><span class="fancy">the</span> Tribulations <span class="fancy">of</span> Testing</p>
                <blockquote>
                    libraries — frameworks — runners
                </blockquote>
            </div>
    </section>
</section>
