<section>
    <section id="overview" data-background-image="img/overview.png" data-background-size="cover" data-menu-title="Overview">
        <h2>Overview</h2>
    </section>
    <section id="four-labyrinths">
        <h2><span class="fancy">The</span> Four Labyrinths</h2>
        <ol>
            <li class=" fade-up">The Fires of Functional Programming</li>
            <li class=" fade-up">The Trials of Tooling</li>
            <li class=" fade-up">The Obstacles of Organization</li>
            <li class=" fade-up">The Tribulations of Testing</li>
        </ol>
    </section>
</section>
