<div class="reveal">
	<div class="slides">
		<section id="title" data-background-video="img/giphy.mp4" data-background-video-loop=true>
			<h3><span class="fancy">The</span> FOUR Labyrinths <span class="fancy"><span>o</span><span>f</span></span> JavaScript</h3>
			<p>(adapted from <i>Clojure for the Brave and True</i>)</p>
		</section>
		<section id="intro" data-markdown data-menu-title="Introduction" data-transition="convex">
			<script type="text/template">
				## Who Am I?
				##### Jason Wohlgemuth
				<img src="img/profile.jpg" class="img-circle img-responsive img-center profile" />
				<br /> [
				<i class="fa fa-twitter" aria-hidden="true"></i>/@jhwohlgemuth](https://twitter.com/@jhwohlgemuth)&nbsp;&nbsp;&nbsp;[<i class="fa fa-github" aria-hidden="true"></i>/jhwohlgemuth](https://github.com/jhwohlgemuth)<br />
			</script>
		</section>
		<% include overview %>
		<% include fires-of-functional-programming %>
		<% include trials-of-tooling %>
		<% include obstacles-of-organization %>
		<% include tribulations-of-testing %>
		<section id="references" data-background="img/web-surfing-time.gif">
			<h3>References</h3>
			<div style="padding:20px;background-color:rgba(0,0,0,0.8);border-radius:20px;">
				<ul>
					<li><a href="url">link</a></li>
				</ul>
			</div>
		</section>
	</div>
</div>
