<section data-menu-title="The Trials of Tooling">
    <section id="trials-of-tooling" data-background-image="img/trials.jpg">
        <h2><span class="fancy">The</span> Trials <span class="fancy"><span>o</span><span>f</span></span> Tooling</h2>
    </section>
    <section tagcloud bw data-menu-title="Tooling tag cloud" data-transition="zoom">
        Grunt
        flow
        Webpack
        Gulp
        Node.js
        JS
        ECMAScript
        Browserify
        npm
        Babel
        babel-preset-env
        Jest
        Jasmine
        Mocha
        chai
        Sinon.js
        markdown
        Sass
        less.js
        PostCSS
        ES6
        ESLint
        Prettier
        browser-sync
        karma
        stylelint
        cssnext
        brunch
        Puppeteer
        PhantomJS
        SlimerJS
        a11y
        ava
        autoprefixer
        casper.js
        nightwatch
        Rollup
    </section>
</section>
