<section data-menu-title="The Tribulations of Testing">
    <section id="tribulations-of-testing" data-background-image="img/tribulations.jpg">
        <h2><span class="fancy">The</span> Tribulations <span class="fancy"><span>o</span><span>f</span></span> T<span class="es">es</span>ting</h2>
    </section>
</section>
